!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
  .side-bar
    .side-header
      .side-header__box
        .side-header__box__user-name 寺生まれ
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
          = link_to do
            %i.fas.fa-cog.haguruma.fa-pull-right
          %li.side-header__box__menu__new-group
          = link_to do
            %i.far.fa-edit.enpitsu.fa-pull-right
    .groups
      %p.groups__group-name techcamp
      %p.groups__latest-message まだメッセージがありません    
      %p.groups__group-name techcamp
      %p.groups__latest-message まだメッセージがありません    
      %p.groups__group-name techcamp
      %p.groups__latest-message まだメッセージがありません    
      %p.groups__group-name techcamp
      %p.groups__latest-message まだメッセージがありません    
    .side-bar__group-list